﻿@{
    ViewBag.Title = "Metodo";
}

@section script{
    <script src="~/Scripts/ModuloBase/Permisos/Metodo.js"></script>
}
<div id="rowMessage">

</div>
<h2>Metodo</h2>
<p>Lista de Metodos</p>
<div id="contenedor">

</div>

